.GalleryCard {
  width: 400px;
  height: 350px;
  display: flex;
  padding: 5px 10px 10px 10px;
}

.galleryImageContainer {
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: 2px solid white;
}

@media only screen and (max-width: 846px) {
  .GalleryCard {
    width: 350px;
    height: 300px;
  }
}

@media only screen and (max-width: 734px) {
  .GalleryCard {
    width: 330px;
    height: 280x;
  }
}

@media only screen and (max-width: 600px) {
  .GalleryCard {
    width: 150px;
    height: 175px;
  }
}
