.NavbarSpace {
  width: 95%;
  height: 40px;
  border-bottom: 1px solid rgb(153, 86, 153);
  font-size: 25px;
  position: absolute;
  top: 0;
  z-index: 900;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.NavLinksMedia {
  display: none;
}

@media only screen and (max-width: 458px) {
  .NavbarSpace {
    justify-content: center;
  }
}
