.NavbarSpace {
  width: 95%;
  height: 40px;
  border-bottom: 1px solid rgb(134, 73, 85);
  font-size: 25px;
  position: fixed;
  top: 0;
  z-index: 900;
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 100%;
}

.navbarLogo {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
}
.navLink {
  text-decoration: none;
  color: rgb(134, 73, 85);
}

a.active {
  display: none;
}
